[defaults]
inventory = inventory.ini
host_key_checking = False          # LAB thôi; production PHẢI bật
retry_files_enabled = False
stdout_callback = yaml             # dễ đọc hơn mặc định
interpreter_python = /usr/bin/python3

[ssh_connection]
pipelining = True                  # nhanh hơn đáng kể
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
